.voting-options{
    color: #1C4E81;
    align-items: end;

}

.radio{
    border-color:#1C4E81;
}

.radio-group{
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  margin-bottom: 2rem;

}

.voting-option {
  margin: 0 !important;
  padding: 3rem 2rem 3rem 3rem;
  width: 100%;
  border-bottom: solid 1px;

}


.header-bottom-line {
    border-bottom: solid 5px var(--primary_blue);
    padding-bottom: 3rem;
}

.candidate-party-wrapper {
    grid-template-columns: 1fr 40% 60%;
    gap: 40px;
}

/* PopOver */
.no-button {
  border: 1px solid #1c4e81 !important;
  margin-right: 1rem;
  color: #1c4e81;
  font-size: 1rem !important;
  font-weight: 600;
  width: 2rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  position: relative !important;
  top: 0 !important;
}