.verification-code-box {
  background-color: var(--secondary_blue);
  padding: 2rem;
  border-radius: 5px;
  justify-content: center;
  margin-top: 2rem;
  align-content: center;
}

.generated-verification-code-container {
  flex-direction: column;
}
.figcaption-verification-example{
  text-align: center;
  font-size: 0.9rem;
  line-height: 2;
  color: grey;
}