.input-field{
    margin-top: 2rem ;
}

.verification-code{
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--secondary_blue);
    padding: 2rem;
    border-radius: 5px;
    justify-content: center;
    margin-top: 2rem;
    align-content: center;
}

#input-code{
    min-width: 100%;
}

.check-box{
    margin-top: 2rem;
    font-size: 0.6rem;
}

.error-message{
    margin-top: 1rem;
    font-size: 0.9rem;
    visibility: hidden;
    color: #F84C4C;
}