.container-survey{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--secondary_darkblue);
    height: 100vw;
}

.content-survey{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    color:white
}



.headline{
    color:white !important;
}



