@media (max-width: 960px) {
  .result-grid {
    grid-template-columns: 1fr !important;
    grid-template-rows: max-content 1fr !important;
    gap: 20px !important;
  }
}

@media (min-width: 960px) {
  .result-grid {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    border-bottom: solid 1px #d9d9d9;
    padding-left: 0.5rem;
  }
}

.result-grid:last-child {
  border-bottom: 0px !important;
}

.error-text-bb {
  display: none;
  color: var(--secondary-darkred);
  margin-top: 0;
}

.verification-code-bb {
  color: var(--primary_blue);
  font-weight: 600;
}

.accordion-button {
  flex: 1;
  text-align: left;
  font-weight: 600;
}
