@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --primary_blue: #1C4E81;
    --secondary_blue: #EEF5FB;
    --secondary_darkblue: #0e2842;
}

body{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
}

#app-main{
    display: flex !important;
    flex-direction:'row' !important;
    flex-direction: column;
    color: var(--secondary_darkblue) !important;    

}

.main{
    justify-items: center;
    max-width:80vw;
}

.body-text{
    max-width: 1000px;
}

h1{
    font-weight: 600 !important;
    font-size: 2rem !important;
    margin-bottom: 1.5rem !important;
}

.blue-text{
    color: var(--primary_blue);    
}
.lightblue-text{
    color: var(--secondary_blue);    
}
.darkblue-text{
    color: var(--secondary_darkblue);    
}

h2{
    font-weight: 600 !important;
    color: var(--primary_blue);
    font-size: 1.4rem !important;
}

h3{
    font-weight: 600 !important;
    font-size: 1.2rem !important;
    padding-bottom: 0.5rem;
}

.link{
    font-weight: 400 !important;
    text-decoration: underline !important;

}

.link-bold{
    font-weight: 600 !important;
    text-decoration: underline !important;


}

.info-text{
    font-size: 0.95rem;
    color: var(--primary_blue);


}

.button{
    min-width: min-content !important;
    background-color:var(--primary_blue) !important;
    color:var(--secondary_blue)!important; 
} 

.button:hover{
    background-color: var(--secondary_darkblue) !important;

}

.container{
    margin-top: 10rem !important;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
   
}

.header{
    margin-bottom: 3rem;
    max-width: 710px;   
}


a{
    cursor: pointer;
}

.container-horizontal{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.button-container-horizontal{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top:4rem;
}

.btn-container-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.btn-container-vertical >*{
   margin-top: 1rem;
}

.light-btn:hover{
    background-color: var(--primary_blue) !important;
    color: var(--secondary_blue) !important;
}

.button-verification-code{
    padding: 10px 15px 10px 15px;
    background-color: #1C4E81;
    color: #FFFFFF;
    font-weight: 600;
    transition: ease-in-out 0.15s;
    border-radius: 5px;
}

.button-verification-code:hover{
    cursor: pointer;
    background-color: #0e2842;
    transition: ease-in-out 0.15s;
}

#container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.h3-margin{
   max-width: 18rem;
   margin-right: 5rem;
   color: var(--primary_blue);
}

.main-mobile{
    display: grid;
    justify-items: center;
    gap: 10px;
    max-width: 35rem;
   
}

.verification-code-letter{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background-color: var(--secondary_blue);
    padding: 2rem;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: 2rem;
    margin-right: 2rem;}

    .intro-text>*{
        margin-top: 1rem;
    }

    .space-between>*{
        margin-top: 1rem;
    }

    .info-box{
        max-width:30rem;
        background-color:var(--secondary_blue);
        padding:1rem;
        border-radius:5px;
        color: var(--primary_blue);
        margin-top:2rem; 
    }

    
    
    .bold-text{
        font-weight: 600;
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        font-size: 3.5rem;
        }

        .small{
          font-size: 1.5rem !important;
        }
        .medium{
          font-size: 1.7rem !important;
          font-weight: 700;
        }
        
        .blue{
        font-size: 3.4rem ;
        color: var(--primary_blue) !important;
        
        }
        .margin-icon{
        margin-right: 0.5rem;
        }

        .container-dark-bg{
            background-color: var(--secondary_darkblue);
            color: var(--secondary_blue) !important;
            height: 100vh !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .light-btn{
            background-color: white;
            color: var(--secondary_darkblue);
        }
        
        .light-btn:hover{
            background-color: #41668C !important;
            color: var(--secondary_blue);
        }

        .btn-red{
            background-color: #F84C4C !important;
        }